.header {
  font-size: 100px;
  text-align: center;
  border: solid;
  border-color: black;
  margin-bottom: 20px;
  border-radius: 5px;
}
.nav {
  font-size: 100px;
  text-align: center;
  border: solid;
  border-color: black;
  margin-bottom: 10px;
  border-radius: 5px;
}
.body {
  display: flex;
}
.section_and_article {
  flex: 0.6;
}
.section {
  font-size: 100px;
  text-align: center;
  border: solid;
  border-color: black;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 5px;
}
.article {
  font-size: 100px;
  text-align: center;
  border: solid;
  border-color: black;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 5px;
}
.aside {
  flex: 0.4;
  font-size: 100px;
  text-align: center;
  border: solid;
  border-color: black;
  margin-bottom: 5px;
  border-radius: 5px;
}
.footer {
  font-size: 100px;
  text-align: center;
  border: solid;
  border-color: black;
  border-radius: 5px;
}
